* {
}
body {
    background: radial-gradient(#fff, #ff6b6b) no-repeat;
    /*background: -webkit-radial-gradient(#fff, #804000) no-repeat;*/
    /*background: -o-radial-gradient(#fff, #804000) no-repeat;*/
    /*background: -moz-radial-gradient(#fff, #804000) no-repeat;*/
    /*background: radial-gradient(#fff, #804000) no-repeat;*/
    /*background: #dcdde1;*/
}
.submit button {
    position: relative;
	margin: 10px auto;
    width: 90%;
    font-size: 119%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background: #ff6b6b;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-bottom: 10px solid rgba(0,0,0,0.22);

}
.back button {
  width: 90%;
  font-size: 119%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background: #ff6b6b;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-bottom: 10px solid rgba(0,0,0,0.22);
 }
.trial {
	position: relative;
	margin: 10px auto;
    width: 90%;
    font-size: 119%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background: #ff6b6b;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-bottom: 10px solid rgba(0,0,0,0.22);
		}

.gif {
    color: #ff6b6b;
	}
.gif:hover  {
    background: #fff;
}
/*
 *switcher style
 */
.switcherContent{
    border-bottom: 1px solid #ff6b6b
}
.switcher .switcherContents header,.switcher .switcherShowHide,.tempLayout ul .active-layout,.tempLayout ul li:hover{
    background: #ff6b6b;
}
.tempLayout ul li{
    border: 1px solid  #ff6b6b
}
.nicescroll-cursors {
    background: #ff6b6b !important;
    border: none !important;
}
